body{
    font-family: "Lato", sans-serif;
}

h2{
    padding-bottom:2%;
}

h2{
    padding-top:2%;
}

.sobre{
    padding: 0 2.5% 0 2.5%;
}

.paragraph{
    margin:5%;
    font-size:20px;
    text-align: justify;
}

.sobre{
    margin-left:5%;
    margin-right:5%;
    padding-bottom:3%;
}

/*Configurações Gerais*/

#footer{
    padding-bottom:3%;
    background-color: #04151F; 
    color:white;
}

.navbar{
    margin-bottom:0;
    background-color: #04151F;
    border: #04151F;
    border-radius:0;
    color:white;
    
}

#footer-hr{
    border-top:#432534;
}

/*letras da navbar*/

.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-brand:hover {
    color:#EFD6AC;
}

.navbar-default .navbar-nav > li > a{
    color:white;
    
}

.navbar-default .navbar-nav > li > a:hover{
    color:#EFD6AC;
    
}

.thumbnail{
    margin:0;
    border:0;
}