body{
    font-family: "Lato", sans-serif;
}

#footer{
    margin-bottom:3%;
}

#escola{
   border:1px solid black;
   border-radius:5px;
   margin-right:auto;
   margin-left:auto;
   margin-top:5%;
   margin-bottom:10%;
   padding: 2% 5% 5% 5%;
}

h2{
    margin-bottom:1%;
}

.thumbnail{
    border-radius: 3%;
}