body{
    font-family: "Lato", sans-serif;
}

#searchbox{
    text-align:center;
    margin: 0% auto;
    width:50%;
}

button{
    margin:15px;
}

h4{
    margin:10% auto 1%;
    text-align:center;
}

input{
    margin: 15% auto;
    width:50%;
}

#page{
    margin-bottom:15%;
}

#footer{
    margin-bottom:3%;
}