body{
    font-family: "Lato", sans-serif;
}

#box{
    margin-bottom:5%;
    margin-top:3%;
    padding-top:1.5%;
}

h4{
    margin-bottom:3%;
}

p{
    text-align: justify;
}

h2{
    text-align:center;
    padding-bottom:2%;

}

/*Configurações Gerais*/

#footer{
    padding-bottom:3%;
    background-color: #04151F; 
    color:white;
}

.navbar{
    margin-bottom:0;
    background-color: #04151F;
    border: #04151F;
    border-radius:0;
    color:white;
    
}

#footer-hr{
    border-top:#432534;
}

/*letras da navbar*/

.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-brand:hover {
    color:#EFD6AC;
}

.navbar-default .navbar-nav > li > a{
    color:white;
    
}

.navbar-default .navbar-nav > li > a:hover{
    color:#EFD6AC;
    
}

/*Imagens*/

.thumbnail{
    margin:0;
    border:0;
}